In [2]:
import pandas as pd
dem = pd.read_csv('vdem.csv')
dem.head()

/var/folders/0k/7z1g8vr51n7_n_22vk6x3zrw0000gn/T/ipykernel_33314/1443136873.py:2: DtypeWarning: Columns (364,365,366,399,804,836,837,924,1240,1257,1486,3094,3168,3169,3341,3342,3344,3345,3347,3350,3352) have mixed types. Specify dtype option on import or set low_memory=False.
  dem = pd.read_csv('vdem.csv')

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_mipopula,e_miurbani,e_pefeliex,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN

In [3]:
gdp = pd.read_csv('gdp.csv', skiprows=3)
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.719625,7.048533,2.397086,-2.232442,-26.211820,24.132627,8.517918,4.263719,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.469708,7.868623,5.622472,4.689533,5.159536,...,2.195991,2.696238,2.665038,2.200340,-2.859784,4.563568,3.555769,1.891307,2.766804,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,-6.240172,2.266944,NaN,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.869637,3.725941,7.039191,5.364761,4.105616,...,0.194177,2.296168,2.904654,3.282163,-0.984117,4.030000,3.974964,3.357987,4.176103,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.580050,-0.147213,-1.316362,-0.702273,-5.638215,1.199211,3.044727,1.078100,4.423905,NaN

In [4]:
year_cols = [col for col in gdp.columns if col.isdigit()]

# melt for long format 
gdp_long = (
    gdp
    .melt(
        id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
        value_vars=year_cols,
        var_name="year",
        value_name="gdp_growth"
    )
    .assign(year=lambda df: df["year"].astype(int))
)

gdp_long.head()

,Country Name,Country Code,Indicator Name,Indicator Code,year,gdp_growth
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1960,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1960,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1960,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1960,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1960,NaN

In [5]:
# merge two datasets
dem = dem.rename(columns={"country_text_id": "iso_code"})
gdp = gdp_long.rename(columns={"Country Code": "iso_code"})

df = pd.merge(
    dem,
    gdp,
    on=["iso_code","year"],
    how="left",      
    validate="1:1"   
)
df.head()

,country_name,iso_code,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts,Country Name,Indicator Name,Indicator Code,gdp_growth
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2024,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# filter for years after 1970
df = df[df["year"] >= 1970]
df= df.drop(columns=["Country Name", "Indicator Name", "Indicator Code"])
df.head()

,country_name,iso_code,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_miurbani,e_pefeliex,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts,gdp_growth
181,Mexico,MEX,3,1970,1970-12-31,0,1,United Mexican States,1789,2024,...,0.532,63.690,50289306.0,107.80,0.0,0.0,0.0,0.0,0.0,6.502484
182,Mexico,MEX,3,1971,1971-12-31,0,1,United Mexican States,1789,2024,...,0.533,64.317,51897675.0,103.98,0.0,0.0,0.0,0.0,0.0,3.762468
183,Mexico,MEX,3,1972,1972-12-31,0,1,United Mexican States,1789,2024,...,0.534,64.944,53543436.0,100.20,0.0,0.0,0.0,0.0,0.0,8.228807
184,Mexico,MEX,3,1973,1973-12-31,0,1,United Mexican States,1789,2024,...,0.535,65.571,55228203.0,96.57,0.0,0.0,0.0,0.0,0.0,7.861120
185,Mexico,MEX,3,1974,1974-12-31,0,1,United Mexican States,1789,2024,...,0.536,66.198,56945880.0,93.19,0.0,0.0,0.0,0.0,0.0,5.776827

In [7]:
df_reg = df[df["year"] >= 1995].copy()

cols_keep = [
    "country_name", "iso_code", "year",
    "v2x_libdem",       
    "gdp_growth",        
    "v2xeg_eqdr", # equality 
    "v2x_rule",   # rule of law
    "v2x_polyarchy"# freedom of expression               
]
df_reg = df_reg[cols_keep]

df_reg = df_reg.sort_values(["iso_code", "year"])

In [8]:
import pandas as pd
import json
import statsmodels.api as sm

df_reg["libdem"] = df_reg["v2x_libdem"]
df_reg["eq"]     = df_reg["v2xeg_eqdr"]
df_reg["rule"]   = df_reg["v2x_rule"]
df_reg["poly"]   = df_reg["v2x_polyarchy"]


df_reg["libdem_lag"] = df_reg.groupby("iso_code")["libdem"].shift(1)


df_reg["gdp_growth_t"] = df_reg["gdp_growth"]


df_reg["deq"]    = df_reg.groupby("iso_code")["eq"].diff()
df_reg["drule"]  = df_reg.groupby("iso_code")["rule"].diff()
df_reg["dpoly"]  = df_reg.groupby("iso_code")["poly"].diff()

df_reg.head()

,country_name,iso_code,year,v2x_libdem,gdp_growth,v2xeg_eqdr,v2x_rule,v2x_polyarchy,libdem,eq,rule,poly,libdem_lag,gdp_growth_t,deq,drule,dpoly
5526,Afghanistan,AFG,1995,0.022,NaN,0.049,0.046,0.094,0.022,0.049,0.046,0.094,NaN,NaN,NaN,NaN,NaN
5527,Afghanistan,AFG,1996,0.019,NaN,0.036,0.072,0.076,0.019,0.036,0.072,0.076,0.022,NaN,-0.013,0.026,-0.018
5528,Afghanistan,AFG,1997,0.022,NaN,0.038,0.099,0.073,0.022,0.038,0.099,0.073,0.019,NaN,0.002,0.027,-0.003
5529,Afghanistan,AFG,1998,0.022,NaN,0.038,0.093,0.073,0.022,0.038,0.093,0.073,0.022,NaN,0.000,-0.006,0.000
5530,Afghanistan,AFG,1999,0.022,NaN,0.038,0.093,0.073,0.022,0.038,0.093,0.073,0.022,NaN,0.000,0.000,0.000

In [9]:
df_reg_clean = df_reg.dropna(
    subset=["libdem", "libdem_lag",
            "gdp_growth_t", "deq", "drule", "dpoly"]
)


y = df_reg_clean["libdem"]

X = df_reg_clean[["libdem_lag", "gdp_growth_t",
                  "deq", "drule", "dpoly"]]
X = sm.add_constant(X)

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 libdem   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 7.031e+05
Date:                Sun, 16 Nov 2025   Prob (F-statistic):               0.00
Time:                        16:42:40   Log-Likelihood:                 15742.
No. Observations:                4936   AIC:                        -3.147e+04
Df Residuals:                    4930   BIC:                        -3.143e+04
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.0004      0.000      1.432      0.152      -0.000       0.001
libdem_lag       0.9990      0.001   1857.125      0.000       0.998       1.000
gdp_growth_t -5.957e-05   2.34e-05     -2.547      0.011      -0.000   -1.37e-05
deq              0.0026      0.006      0.425      0.671      -0.009       0.014
drule            0.2149      0.005     47.065      0.000       0.206       0.224
dpoly            0.6829      0.004    155.342      0.000       0.674       0.692
==============================================================================
Omnibus:                     1287.229   Durbin-Watson:                   1.949
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            76466.197
Skew:                          -0.340   Prob(JB):                         0.00
Kurtosis:                      22.270   Cond. No.                         317.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
import json

params = model.params

coeffs = {
    "alpha": float(params["const"]),
    "rho": float(params["libdem_lag"]),
    "b_gdp": float(params["gdp_growth_t"]),
    "b_eq": float(params["deq"]),
    "b_rule": float(params["drule"]),
    "b_poly": float(params["dpoly"]) 
}   

!mkdir -p data

with open("data/coeffs.json", "w") as f:
    json.dump(coeffs, f, indent=2)

BASE_YEAR = int(df_reg["year"].max())

baseline = (
    df_reg[df_reg["year"] == BASE_YEAR]
    [["country_name", "iso_code", "v2x_libdem"]]
    .rename(columns={
        "country_name": "name",
        "iso_code": "code",
        "v2x_libdem": f"libdem_{BASE_YEAR}"
    })
)

baseline.to_json("data/baseline.json", orient="records", indent=2)
baseline.head()

                       name code  libdem_2024
5555            Afghanistan  AFG        0.016
16142                Angola  AGO        0.164
1892                Albania  ALB        0.396
26077  United Arab Emirates  ARE        0.078
5791              Argentina  ARG        0.553